<template>
  <FatButton @click="download">
    {{ $t("table.downloadCSV") }}
  </FatButton>
</template>

<script>
import FatButton from './FatButton'
import { exportFile } from 'quasar'
import { createArrayCsvStringifier } from 'csv-writer'

export default {
  components: {
    FatButton
  },
  props: {
    titles: Array,
    tableData: Array
  },
  methods: {
    download () {
      const csvStringifier = createArrayCsvStringifier({
        header: this.titles
      })

      const csvString =
        csvStringifier.getHeaderString() +
        csvStringifier.stringifyRecords(this.tableData)

      exportFile('smat-data.csv', csvString, 'text/csv')
    }
  }
}
</script>

<style scoped lang="scss"></style>
