<template>
  <InputDropdown
    v-if="checkedReddit"
    :label="$t('setting.aggBy.label')"
    :value="aggRedditBy"
    @input="setAggRedditBy"
    :options="options"
  />
</template>

<script>
import { createNamespacedHelpers } from 'vuex'

import InputDropdown from './InputDropdown'
const { REDDIT } = require('@/constants/sites')
const { mapGetters, mapMutations } = createNamespacedHelpers('searchSettings')

export default {
  components: {
    InputDropdown
  },
  computed: {
    ...mapGetters(['websites', 'aggRedditBy']),
    options () {
      return [
        {
          label: this.$t('setting.aggBy.author'),
          value: 'author'
        },
        {
          label: this.$t('setting.aggBy.subreddit'),
          value: 'subreddit'
        }
      ]
    },
    checkedReddit () {
      return this.websites.find((site) => site.name === REDDIT).active
    }
  },
  methods: {
    ...mapMutations(['setAggRedditBy'])
  }
}
</script>

<style scoped lang="scss"></style>
