<template>
  <InputContainer :label="label">
    <BaseTextInput
      placeholder="YYYY-MM-DD"
      v-model="model"
      pattern="\d{4}-\d{2}-\d{2}"
    >
      <template #append>
        <BaseIcon name="event" class="cal-icon" />
        <q-popup-proxy
          ref="dateMenu"
          transition-show="scale"
          transition-hide="scale"
        >
          <q-date
            color="purple-highlight"
            mask="YYYY-MM-DD"
            v-model="model"
            @input="() => $refs.dateMenu.hide()"
          />
        </q-popup-proxy>
      </template>
    </BaseTextInput>
  </InputContainer>
</template>

<script>
import InputContainer from './InputContainer'
import BaseTextInput from './BaseTextInput'
import BaseIcon from '@/components/BaseIcon'

export default {
  components: {
    InputContainer,
    BaseTextInput,
    BaseIcon
  },
  props: {
    label: String,
    placeholder: String,
    value: String
  },
  computed: {
    model: {
      get () {
        return this.value
      },
      set (val) {
        this.$emit('input', val)
      }
    }
  }
}
</script>

<style scoped lang="scss">
.cal-icon {
  cursor: pointer;
}
</style>
