<template>
  <router-link :to="to" tag="div">
    <button @click="$emit('click')" v-ripple>
      <div class="inner" :class="{ active }">
        <slot></slot>
      </div>
    </button>
  </router-link>
</template>

<script>
export default {
  props: {
    to: Object,
    active: Boolean
  }
}
</script>

<style scoped lang="scss">
button {
  background: none;
  border: none;
  color: var(--bright-text);
  font-size: var(--fs-1);
  font-weight: 800;
  text-transform: uppercase;
  position: relative;
  width: 100%;
  cursor: pointer;
}

.inner {
  border-bottom: solid var(--spacing-0) transparent;
  padding: var(--spacing-0) var(--spacing-1);
  letter-spacing: 1px;
}

.inner.active {
  border-bottom: solid var(--spacing-0) var(--purple-highlight);
}
</style>
