<template>
  <div>
    <!--example json: https://smat-be.herokuapp.com/content?site=twitter&term=trump&limit=20 -->

    <BarChart ref="chart" :chartData="chartData" :options="chartOptions" />
  </div>
</template>

<script>
import BarChart from '@/components/charts/BarChart.vue'

export default {
  components: {
    BarChart
  },
  props: {
    resultsData: Array
  },
  computed: {
    chartData () {
      const names = this.resultsData
        .map((tag) => tag.key)
        .map((key) => key.replace(/^https?:\/\//, ''))
        .map((key) => key.replace(/^www\./, ''))
        .map((key) => {
          const max = 30

          if (key.length >= max) {
            return key.slice(0, max - 1) + '…'
          } else {
            return key
          }
        })
      const values = this.resultsData.map((tag) => tag.count)

      return {
        labels: names,
        datasets: [
          {
            backgroundColor: '#6610f2', // should be same as --purple-highlight
            data: values
          }
        ]
      }
    },
    chartOptions () {
      return {
        responsive: true,
        maintainAspectRatio: false,
        legend: {
          display: false
        },
        scales: {
          xAxes: [
            {
              ticks: {
                beginAtZero: true
              },
              gridLines: {
                borderDash: [4, 4],
                color: '#eeeff0'
              }
            }
          ],
          yAxes: [
            {
              gridLines: {
                display: false
              }
            }
          ]
        }
      }
    }
  },
  methods: {
    downloadImage () {
      this.$refs.chart.downloadImage()
    }
  }
}
</script>

<style scoped lang="scss"></style>
