<template>
  <div>
    <LineChart ref="chart" :chartData="chartData" :options="chartOptions" />
  </div>
</template>

<script>
import LineChart from './LineChart'

const chartLook = {
  backgroundColor: '#6610f2', // should be same as --purple-highlight
  borderColor: '#6610f2',
  fill: false
}

export default {
  components: {
    LineChart
  },
  props: {
    resultsData: Object
  },
  computed: {
    chartData () {
      return {
        datasets:
          this.resultsData.before !== undefined
            ? [
              {
                ...chartLook,
                label: this.$t('data.beforeChangepoint', {
                  site: this.resultsData.label
                }),
                data: this.resultsData.before.map((d) => ({
                  x: d.date,
                  y: d.usage
                }))
              },
              {
                ...chartLook,
                backgroundColor: '#fb5607',
                borderColor: '#fb5607',
                label: this.$t('data.afterChangepoint', {
                  site: this.resultsData.label
                }),
                data: this.resultsData.after.map((d) => ({
                  x: d.date,
                  y: d.usage
                }))
              }
            ]
            : [
              {
                ...chartLook,
                label: this.resultsData.label,
                data: this.resultsData.data.map((d) => ({
                  x: d.date,
                  y: d.usage
                }))
              }
            ]
      }
    },
    chartOptions () {
      // chart.js is bad and doesn't let us translate stuff in a reasonable way so we just have everything in the default english instead
      // we could maybe switch to one of the other adapters (that isn't moment.js) to get some localization options
      // https://www.chartjs.org/docs/latest/axes/cartesian/time.html
      return {
        responsive: true,
        maintainAspectRatio: false,
        legend: {
          display: false
        },
        scales: {
          xAxes: [
            {
              type: 'time',
              gridLines: {
                borderDash: [4, 4],
                color: '#eeeff0'
              }
            }
          ],
          yAxes: [
            {
              ticks: {
                beginAtZero: true
              }
            }
          ]
        }
      }
    }
  },
  methods: {
    downloadImage () {
      this.$refs.chart.downloadImage()
    }
  }
}
</script>

<style scoped lang="scss"></style>
