<script>
import { downloadBase64 } from '@/helpers/graphs'
import { Line, mixins } from 'vue-chartjs'
const { reactiveProp } = mixins

export default {
  mixins: [Line, reactiveProp],
  props: {
    options: {
      type: Object,
      default: null
    }
  },
  methods: {
    downloadImage () {
      downloadBase64(this.$data._chart.toBase64Image())
    }
  },
  mounted () {
    this.renderChart(this.chartData, this.options)
  }
}
</script>
<style></style>
