<template>
  <InputContainer :label="$t('toolPicker.label')">
    <div class="input-card picker-button" @click="modal = true" v-ripple>
      <IconTool :tool="tool" class="tool-icon" />
      <div>
        <div class="tool-name">
          {{ $t(`nav.${tool}`) }}
        </div>
        <div class="fat-text">
          {{ $t("toolPicker.changeTools") }}
        </div>
      </div>
    </div>
    <ModalToolPicker v-model="modal" />
  </InputContainer>
</template>

<script>
import InputContainer from '../InputContainer'
import IconTool from '@/components/input/tool-picker/IconTool'
import ModalToolPicker from '@/components/input/tool-picker/ModalToolPicker'

export default {
  components: {
    InputContainer,
    IconTool,
    ModalToolPicker
  },
  data () {
    return {
      modal: false
    }
  },
  computed: {
    tool () {
      return this.$route.name
    }
  }
}
</script>

<style scoped lang="scss">
.picker-button {
  position: relative;
  cursor: pointer;
  user-select: none;
  color: var(--dark-text);
  border-radius: var(--border-radius-1);
  padding: var(--spacing-2);
  text-align: start;
}

.tool-icon {
  margin-right: var(--spacing-2);
}

.tool-name {
  font-size: var(--fs-3);
  font-weight: bold;
}

.fat-text {
  text-transform: uppercase;
  font-weight: 800;
  font-size: var(--fs-1);
  letter-spacing: 1px;
  color: var(--purple-highlight);
}
</style>
