<template>
  <q-avatar
    :icon="icon"
    :color="isCurrent ? 'purple-highlight' : 'faded-gray'"
    text-color="white"
    size="40px"
    font-size="26px"
  />
</template>

<script>
export default {
  props: {
    tool: String
  },
  computed: {
    isCurrent () {
      return this.tool === this.$route.name
    },
    icon () {
      return {
        timeline: 'trending_up',
        hashtags: 'fas fa-hashtag',
        links: 'share',
        activity: 'chat'
      }[this.tool]
    }
  }
}
</script>

<style scoped lang="scss"></style>
