<template>
  <div class='container'>
    <div class='graph'>
      <NetworkGraph />
    </div>

    <div class='controls'>
      <div class='search'>
        <NetworkSearch />
      </div>
      <div class='zoom'>
        <NetworkControls />
      </div>
    </div>

    <div class='promo-wrapper'>
      <Promo :height='50' />
    </div>
    <BodyLoading :loading="isLoading" />
  </div>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
import NetworkGraph from '@/components/charts/network/graph/NetworkGraphBody'
import NetworkSearch from '@/components/charts/network/NetworkSearch'
import NetworkControls from '@/components/charts/network/NetworkControls'
import BodyLoading from '@/components/bodies/BodyLoading'
import Promo from '@/components/Promo'

const { mapGetters, mapActions } = createNamespacedHelpers('networkGraph')
// const REFRESH_INTERVAL = 5 * 60 * 1e3

export default {
  data () {
    return {
      interval: null
    }
  },
  mounted () {
    this.fetchInitialState()
    // this.interval = setInterval(() => this.fetchInitialState(), REFRESH_INTERVAL)

    window.addEventListener('resize', this.resize)
    this.resize()
  },
  beforeDestroy () {
    window.removeEventListener('resize', this.resize)
    if (this.interval) clearInterval(this.interval)
  },
  computed: {
    ...mapGetters([
      'isLoading',
    ])
  },
  methods: {
    ...mapActions([
      'fetchInitialState',
      'setDimensions',
      'setSelectedNodeIds'
    ]),
    resize () {
      this.setDimensions({
        width: Math.floor(this.$el.offsetWidth),
        height: Math.floor(this.$el.offsetHeight)
      })
    }
  },
  watch: {
    $route: {
      handler (newVal) {
        if (newVal && newVal.query && newVal.query.selected) {
          this.setSelectedNodeIds([newVal.query.selected])
        }
      },
      immediate: true
    }
  },
  components: {
    NetworkGraph,
    NetworkSearch,
    NetworkControls,
    BodyLoading,
    Promo
  }
}
</script>

<style scoped lang="scss">
.container {
  height: 100%;
  position: relative;

  .controls {
    position: absolute;

    top: 20px;
    bottom: 20px;
    left: 20px;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;

    .search {
      z-index: 100;
    }

    .zoom {
      align-self: center;
    }
  }

  .promo-wrapper {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
}
</style>
