<template>
  <canvas :width='dimensions.width' :height='dimensions.height' ref='canvas' id='network-graph-canvas'/>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
import * as d3 from 'd3'

import imageUrl from '@/helpers/profileImageUrl'
import drawNode from './draw-node'
import drawImageNode from './draw-image-node'
import drawEdge from './draw-edge'
import { MIN_NODE_SIZE, MAX_NODE_SIZE } from '@/constants/network-graph'

const pilesort = require('pile-sort')
// import nodeid from '@/helpers/nodeid'
const { NETWORK_ACCOUNT } = require('@/constants/misc')

const { mapGetters, mapActions } = createNamespacedHelpers('networkGraph')

const PURPLE = '#6610f2'
// const GREEN = '#70ae6e'
const ORANGE = '#fb5607'

const clone = (obj) => Object.assign({}, obj) // note shallow clone

export default {
  data () {
    return {
      ctx: null,
      d3Selection: null,
      d3Zoom: d3.zoom().scaleExtent([1 / 10, 8]),
      transform: d3.zoomIdentity,
      simulation: null,

      selectedNodeImage: null,

      simNodes: [], // keep this so that sortedNodes knows to update
      simEdges: []
    }
  },
  mounted () {
    this.ctx = this.$refs.canvas.getContext('2d')
    this.d3Selection = d3.select(this.ctx.canvas)
  },
  computed: {
    ...mapGetters([
      'nodes',
      'edges',
      'dimensions',
      'zoom',
      'selectedNodeIds',
      'outboundNodeIds',
      'inboundNodeIds'
    ]),
    isReady () {
      return this.nodes && this.nodes.length > 0 &&
        this.edges && this.edges.length > 0
    },
    // note we split out the sorting of nodes / edges from the drawing to reduce load on the draw loop
    // this could potentially be put in vuex getters too
    sortedNodes () {
      const [selected, selectedEngaged, engagedSelected, other] = pilesort(this.simNodes, [
        node => this.selectedNodeIds.has(node.id),
        node => this.outboundNodeIds.has(node.id),
        node => this.inboundNodeIds.has(node.id)
        // other
      ])

      return { selected, selectedEngaged, engagedSelected, other }
    },
    sortedEdges () {
      const [outbound, inbound, other] = pilesort(this.simEdges, [
        edge => this.selectedNodeIds.has(edge.source.id),
        edge => this.selectedNodeIds.has(edge.target.id),
        // other
      ])

      return { outbound, inbound, other }
    }
  },
  watch: {
    isReady (ready) {
      if (!ready) return
      // note dont't start force simulation until data is in otherwise it's considered stable, and stops
      // starting it once have data means we don't have to "reheat" simulation

      this.loadGraph()
      this.addMouseHandlers()
    },
    dimensions ({ width, height }) {
      if (!this.simulation) return
      this.simulation.force('center').x(width / 2)
      this.simulation.force('center').y(height / 2)
      this.simulation.restart()
    },
    selectedNodeIds: {
      handler (nodeIds) {
        this.selectedNodeImage = null
        this.renderGraph()

        if (nodeIds.size !== 1) return
        const img = document.createElement('img')
        img.onload = () => {
          this.selectedNodeImage = img
          this.renderGraph()
        }
        img.src = imageUrl(null, Array.from(nodeIds)[0])
      },
      immediate: true
    },
    transform: 'renderGraph',
    zoom: 'doZoom',
    nodes: 'loadNewData',
    edges: 'loadNewData',
  },
  methods: {
    ...mapActions(['setZoom']),
    loadGraph () {
      this.simulation = this.forceSimulation(this.dimensions.width, this.dimensions.height)

      // The simulation will alter the input data objects so make
      // copies to protect the originals.
      this.simNodes = this.nodes.map(clone)
      this.simEdges = this.edges.map(clone)

      this.simulation.nodes(this.simNodes)
      this.simulation.force('link').links(this.simEdges)

      this.simulation.on('tick', this.renderGraph)
    },
    loadNewData () {
      if (!this.simulation) return

      this.simNodes = this.nodes.map(node => {
        return (
          this.simulation.nodes().find(n => n.id === node.id) ||
          clone(node)
        )
      })
      this.simEdges = this.edges.map(clone)

      this.simulation.nodes(this.simNodes)
      this.simulation.force('link').links(this.simEdges)

      this.simulation.alpha(0.7) // "reheat" the simulation
    },
    doZoom (zoom) {
      if (this.transform.k === zoom) return

      const relativeScale = zoom / this.transform.k
      const transform = d3.zoomTransform(this.d3Selection.node())
        .scale(relativeScale)

      this.d3Zoom.transform(this.d3Selection, transform)
      this.transform = transform

      // TODO - this is ~working but results in an apparently zoom to a center not in
      // center of current view. Not sure why at them moment, but don't have time
    },
    addMouseHandlers () {
      const { ctx, subject } = this

      this.d3Selection
        .call(d3.drag()
          .container(ctx.canvas)
          .subject(subject)
          .on('start.click', ev => {
            if (
              this.$route.name === NETWORK_ACCOUNT &&
              this.$route.params && this.$route.params.accountId === ev.subject.id
            ) return

            this.$router.push({
              name: NETWORK_ACCOUNT,
              params: { accountId: ev.subject.id }
            })
          })
        )
        .call(this.d3Zoom
          .on('zoom', (ev) => {
            this.transform = ev.transform
            this.setZoom(ev.transform.k)
          })
        )
        // .call(d3.drag()
        //   .container(canvas)
        //   .subject(dragSubject)
        //   .on('start', dragStarted)
        //   .on('drag', dragged)
        //   .on('end', dragEnded))

      // function dragStarted (ev) {
      //   if (!ev.active) {
      //     simulation.alphaTarget(0.3).restart()
      //   }
      //   ev.subject.fx = transform.invertX(ev.x)
      //   ev.subject.fy = transform.invertY(ev.y)
      // }

      // function dragged (ev) {
      //   ev.subject.fx = transform.invertX(ev.x)
      //   ev.subject.fy = transform.invertY(ev.y)
      // }

      // function dragEnded (ev) {
      //   if (!ev.active) {
      //     simulation.alphaTarget(0)
      //   }
      //   ev.subject.fx = null
      //   ev.subject.fy = null
      // }
    },
    subject (ev) {
      const x = this.transform.invertX(ev.x)
      const y = this.transform.invertY(ev.y)
      const node = this.simulation.find(x, y, (MIN_NODE_SIZE + MAX_NODE_SIZE) / 2)
      // last argument is what radius within to count a click. We take the average
      // because if we take just MAX otherwise clicking to drag triggers a node selection!

      /* NOTE this code was causing incorrect transforms when zoomed.
        It may be needed for dragable nodes tho */
      // if (node) {
      //   node.x = this.transform.applyX(node.x)
      //   node.y = this.transform.applyY(node.y)
      // }
      // else: No node selected, drag container
      return node
    },
    renderGraph () {
      if (!this.simulation) return

      const { ctx } = this
      ctx.save()
      ctx.clearRect(0, 0, this.dimensions.width, this.dimensions.height)
      ctx.translate(this.transform.x, this.transform.y)
      ctx.scale(this.transform.k, this.transform.k)

      this.sortedEdges
        .other.forEach(edge => this.drawEdge(edge))
      this.sortedEdges
        .inbound.forEach(edge => this.drawEdge(edge, { color: ORANGE, width: 0.3 }))
      this.sortedEdges
        .outbound.forEach(edge => this.drawEdge(edge, { color: PURPLE, width: 1.5 }))

      this.sortedNodes
        .other.forEach(node => this.drawNode(node))
      this.sortedNodes
        .engagedSelected.forEach(node => this.drawNode(node, { color: ORANGE, label: node.inDegree > 10 }))
      this.sortedNodes
        .selectedEngaged.forEach(node => this.drawNode(node, { color: PURPLE, label: true }))
      this.sortedNodes
        .selected.forEach(node => this.drawImageNode(node, { color: PURPLE, size: Math.max(8, node.size), label: true }))
      // order of drawing matters because of clipping (?)

      ctx.restore()
    },
    drawNode (d, opts) { drawNode(this.ctx, d, opts) },
    drawImageNode (d, opts) {
      if (!this.selectedNodeImage) return this.drawNode(d, opts)

      drawImageNode(this.ctx, this.selectedNodeImage, d, opts)
    },
    drawEdge (d, opts) { drawEdge(this.ctx, d, opts) },
    forceSimulation (width, height) {
      return d3.forceSimulation()
        .force('center', d3.forceCenter(width / 2, height / 2))
        .force('charge', d3.forceManyBody()
          .strength(node => -30) // default -30
          .theta(0.9) // default 0.9
          .distanceMin(MAX_NODE_SIZE + 1) // defualt 1
        )
        .force('link', d3.forceLink()
          .id(d => d.id)
          .distance(d => {
            return Math.min(
              10,
              Math.max(30, 30 / d.weight),
            )
          }) // default 30
        )
    }
  }
}
</script>

<style scoped lang="scss">

</style>
