<template>
  <q-avatar :size='size'>
    <img :src='profileImageUrl(null, id)' />
  </q-avatar>
</template>

<script>
import profileImageUrl from '@/helpers/profileImageUrl'

export default {
  props: {
    id: { type: String, required: true },
    size: { type: String, default: '24px' }
  },
  methods: {
    profileImageUrl
  }
}
</script>

<style scoped lang="scss">
</style>
