<template>
  <q-dialog
    :maximized="!large"
    square
    no-route-dismiss
    :value="value"
    :persistent='persistent'
    @input="$emit('input', $event)"
  >
    <q-card>
      <div class="inside">
        <div class="top-bar">
          <q-btn v-if='showCloseBtn'
            size="20px"
            round
            flat
            icon="close"
            @click="$emit('input', false)"
          />
        </div>
        <div class="slot">
          <slot></slot>
        </div>
      </div>
    </q-card>
  </q-dialog>
</template>

<script>
export default {
  props: {
    value: Boolean,
    showCloseBtn: { type: Boolean, default: true },
    persistent: { type: Boolean, default: false }
  },
  data () {
    return {
      large: false
    }
  },
  methods: {
    updateLarge () {
      this.large = window.matchMedia('(min-width: 1000px)').matches
    }
  },
  created () {
    this.updateLarge()
    window.addEventListener('resize', this.updateLarge)
  }
}
</script>

<style scoped lang="scss">
.inside {
  background-color: var(--dark-bg);
  color: var(--bright-text);
  height: 100%;
  width: 100%;
  overflow: auto;
}

.top-bar {
  display: grid;
  justify-content: end;
}

.slot {
  max-width: 42rem;
  margin: auto;
  padding: 3rem;
  padding-top: 0;
}
</style>
