<template>
  <div class="TheDetailsBar">
    <router-view name="details" />
  </div>
</template>

<script>

export default {
}
</script>

<style scoped lang="scss">
.TheDetailsBar {
  background: var(--dark-bg);
  height: 100%;
  width: 100%;
  text-align: center;
  color: var(--bright-text);
}
</style>
