<template>
  <q-page :class="pageClass">
    <div class="wrapper">
      <keep-alive>
        <router-view name="page" />
      </keep-alive>

      <div v-if='pageClass === "app-page"' class='promo-wrapper'>
        <Promo :height='65' />
      </div>
    </div>
  </q-page>
</template>

<script>
import Promo from '@/components/Promo'
const { NETWORK, NETWORK_ACCOUNT, NETWORK_ACCOUNT_INTERACTION, ABOUT } = require('@/constants/misc')

export default {
  computed: {
    pageClass () {
      switch (this.$route.name) {
        case ABOUT: return 'about-page'

        case NETWORK:
        case NETWORK_ACCOUNT:
        case NETWORK_ACCOUNT_INTERACTION:
          return 'network-page'

        default: return 'app-page'
      }
    }
  },
  components: {
    Promo
  }
}
</script>

<style scoped lang="scss">
.app-page {
  background: var(--main-bg);
  color: var(--dark-text);
  padding: 3rem;

  .wrapper {
    max-width: var(--max-content-width);
    margin: auto;

    min-height: 70vh;

    .promo-wrapper {
      bottom: 0;
      padding-top: 40px;
      text-align: center;
    }
  }
}

@media (max-width: 650px) {
  .app-page {
    padding: 3rem 0;
  }
}

.about-page {}

.network-page {
  background: var(--main-bg);
  color: var(--dark-text);
  overflow: hidden;

  .wrapper {
    max-width: 100%;
    height: calc(100vh - 50px);
  }
}

</style>
