<template>
  <div class="toolbar">
    <ButtonOpenToolModal />
    <div>
      <router-view name="settings" />
    </div>
  </div>
</template>

<script>
import ButtonOpenToolModal from '@/components/input/tool-picker/ButtonOpenToolModal'

export default {
  components: {
    ButtonOpenToolModal
  }
}
</script>

<style scoped lang="scss">
.toolbar {
  background: var(--dark-bg);
  height: 100%;
  width: 100%;
  padding: var(--spacing-3);
  text-align: center;
  color: var(--bright-text);
}
</style>
