<template>
  <q-toolbar class="toolbar">
    <q-btn
      v-if="isHome"
      icon="menu"
      unelevated
      dense
      color="purple-highlight"
      @click="$emit('toggleToolBar')"
    />
    <q-toolbar-title class="title">
      <img :src='smatLogo' class='smat-logo' />
      <div v-if="showENV" class="env"> // {{ env }}</div>
    </q-toolbar-title>

    <q-space />

    <div class="right-part">
      <UnderlinedButton :to="{ name: 'home' }" :active="isHome">
        {{ $t("nav.home") }}
      </UnderlinedButton>

      <UnderlinedButton :to="{ name: 'network' }" :active="isNetwork">
        {{ $t("nav.network") }}
      </UnderlinedButton>

      <UnderlinedButton :to="{ name: 'about' }" :active="$route.name === 'about'">
        {{ $t("nav.about") }}
      </UnderlinedButton>
      <LanguagePicker />
    </div>
  </q-toolbar>
</template>

<script>
import UnderlinedButton from '@/components/input/UnderlinedButton'
import LanguagePicker from '@/components/input/LanguagePicker'
import smatLogo from '@/assets/smat-logo-full.svg'
const { TIMELINE, HASHTAGS, LINKS, ACTIVITY } = require('@/constants/tools')
const { ENV, PRODUCTION, NETWORK, NETWORK_ACCOUNT } = require('@/constants/misc')

export default {
  data () {
    return {
      smatLogo,
      env: ENV,
      showENV: ENV !== PRODUCTION
    }
  },
  computed: {
    isHome () {
      return [TIMELINE, HASHTAGS, LINKS, ACTIVITY].includes(this.$route.name)
    },
    isNetwork () {
      return [NETWORK, NETWORK_ACCOUNT].includes(this.$route.name)
    }
  },
  components: {
    UnderlinedButton,
    LanguagePicker
  }
}
</script>

<style scoped lang="scss">
.toolbar {
  background: var(--dark-bg);

  .title {
    font-weight: 800;

    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
    align-items: center;

    img.smat-logo {
      height: 22px;
    };

    div.env {
      color: red;
    }
  }

  .right-part {
    display: flex;
    align-items: center;

    > * {
      margin-right: 3rem;
    }

    a {
      font-weight: bold;
      color: var(--bright-text);

      &.router-link-exact-active {
        color: gray;
      }
    }
  }
}

@media (max-width: 650px) {
  .toolbar {
    .title {
      display: none;
    }

    .right-part > * {
      margin-right: 1rem;
    }
  }
}
</style>
