<template>
  <div>
    <h1>
      How does this network graph work?
    </h1>
    <div class='description'>
      This is a live updating and interactive network graph of US politicians and their Twitter activity over the last month. You can use it to analyze things like influence and connections between various figures.
    </div>

    <div class='key'>
      <div class='left'></div> <div class='right bold'>Node:</div>

      <div class='left'>
        <img src='@/assets/node.png' />
      </div>
      <div class='right'>
        A node is an entity in a graph. In this example each circle, or node, represents a single Twitter account.
      </div>

      <div class='left'> </div> <hr />

      <div class='left'> </div> <div class='right bold'>Edge:</div>

      <div class='left'>
        <img src='@/assets/edge.png' />
      </div>
      <div class='right'>
        An edge is a connection between two nodes. These represent mentions or replies between accounts.
      </div>

      <div class='left'> </div> <hr />

      <div class='left'> </div> <div class='right bold'>Direction:</div>

      <div class='left'>
        <img src='@/assets/direction.png' />
      </div>
      <div class='right'>
        The color of the edges shows the flow of information between nodes.
      </div>

      <div class='left'>
        <img src='@/assets/edge-inbound.png' />
      </div>
      <div class='right'>
        Orange edges show when other accounts are mentioning or replying to the node you've selected.
      </div>

      <div class='left'>
        <img src='@/assets/edge-outbound.png' />
      </div>
      <div class='right'>
        Purple edges show what accounts the node you've selected is mentioning or replying to.
      </div>

    </div>
  </div>
</template>

<script>

export default {
  methods: {
  },
}
</script>

<style scoped lang='scss'>
h1 {
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
}

h1, .description {
  text-align: center;
}

.key {
  color: black;
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  margin-top: 20px;

  display: grid;
  grid-template-columns: 100px 1fr;
  grid-gap: 8px;

  align-items: center;

  div {
    &.bold {
      font-size: 18px;
      font-weight: bold;
    }
    img {
      justify-self: center;

      height: 80px;
      width: 80px;
    }
  }
  hr {
    width: 100%;
    border: none;
    border-bottom: 1px solid gainsboro;

    margin-bottom: 10px;
  }
}
</style>
