<template>
<div class='wrapper'>
  <div class='NetworkSearch'>
    <!-- TODO i18n translation -->
    <q-input borderless v-model="searchTerm" placeholder="Search for specific nodes in the graph..." :dense="dense" class='search-field'>
      <template v-slot:prepend>
        <q-icon name="search" />
      </template>
      <template v-slot:append>
        <q-icon v-if="searchTerm" name="close" @click="searchTerm = null" class="cursor-pointer" />
      </template>
      <!-- <template v-slot:hint> Find by handle </template> -->
    </q-input>

    <hr v-if='searchTerm' />

    <div v-if='searchResults.length' class='results'>
      <div v-for='node in searchResults' :key='node.id' class='result' @click='select(node)'>
        <img :src='imageUrl(node.profileImageUrl, node.id)' />
        <div class='handle'>
          @<span v-for='(part, i) in splitName(node.id)' :key='i' :class='`part-${i}`'>{{part}}</span>
        </div>
      </div>
    </div>

    <div v-if='searchTerm && searchResults.length === 0' class='no-results'>
      <!-- TODO i18n translation -->
      No results
    </div>
  </div>
</div>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
import nodeId from '@/helpers/nodeId'
import imageUrl from '@/helpers/profileImageUrl'

const { NETWORK_ACCOUNT } = require('@/constants/misc')
const { mapGetters, mapActions } = createNamespacedHelpers('networkGraph')

export default {
  data () {
    return {
      searchTerm: '',
      dense: true
    }
  },
  computed: {
    ...mapGetters(['searchResults']),
    trimmedSearch () {
      return (this.searchTerm[0] === '@' ? this.searchTerm.slice(1) : this.searchTerm)
        .trim()
    },
    regex () {
      return new RegExp(this.trimmedSearch, 'i')
    }
  },
  watch: {
    trimmedSearch (newVal) {
      this.search(newVal)
    }
  },
  methods: {
    ...mapActions([
      'search',
      'setSelectedNodeIds'
    ]),
    splitName (name) {
      const match = name.match(this.regex)

      return [
        name.slice(0, match.index),
        name.slice(match.index, match.index + this.trimmedSearch.length),
        name.slice(match.index + this.trimmedSearch.length)
      ]
    },
    select (node) {
      this.searchTerm = ''
      this.$router.push({ name: NETWORK_ACCOUNT, params: { accountId: nodeId(node) } })
      // this.setSelectedNodeIds([nodeId(node)])
    },
    imageUrl
  }
}
</script>

<style scoped lang="scss">
.wrapper {
  position: absolute;

  .NetworkSearch {
    position: relative;
  }
}

.NetworkSearch {
  width: 300px;

  background: #fff;
  border: 2px solid gray;
  border-radius: 4px;

  > label, > div {
    padding: 0 10px
  }

  hr {
    width: 100%;
    border: 1px solid gainsboro;
    margin: 0;
  }

  .results {
    max-height: 70vh;

    padding: 10px 0;
    overflow-y: auto;

    display: grid;
    grid-gap: 10px;

    .result {
      --size: 30px;
      background: #fff;
      cursor: pointer;
      padding: 0 10px;
      border-left: 4px solid #fff;

      display: grid;
      grid-template-columns: var(--size) 1fr;
      grid-template-rows: var(--size);
      align-items: center;
      grid-gap: 10px;

      img {
        border-radius: calc(var(--size) / 2);
        max-width: 100%;
      }
      .handle {
        color: #666;

        .part-1 {
          color: var(--purple-highlight);
          font-weight: bold;
        }
      }

      &:hover {
        border-left: 4px solid var(--purple-highlight);
        .handle {
          color: var(--purple-highlight)
        }
      }
    }
  }

  .no-results {
    font-style: italic;
    padding: 10px 20px;
  }
}
</style>
