<template>
  <div class='container'>
    <!--
    <div @click="zoomReset()">
      Center
    </div>
    // TODO ?

    <div @click="showInfo()">
      Info
    </div>
    -->

    <div class='zoom'>
      <q-icon name='add' size='xs' @click='zoomInOut(1.2)' />
      <div class='hr' />
      <q-icon name='remove' size='xs' @click='zoomInOut(1 / 1.2)' />
    </div>

    <div class='info'>
      <q-icon name='info_o' @click='infoOpen = true' />
    </div>

    <BaseModal :value='infoOpen' @input='infoOpen = false'>
      <NetworkInfo />
    </BaseModal>
  </div>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
import BaseModal from '@/components/BaseModal'
import NetworkInfo from './NetworkInfo'

const { mapGetters, mapActions } = createNamespacedHelpers('networkGraph')

export default {
  data () {
    return {
      infoOpen: false
    }
  },
  computed: {
    ...mapGetters(['zoom'])
  },
  methods: {
    ...mapActions(['setZoom']),
    zoomInOut (scale) {
      this.setZoom(this.zoom * scale)
    },
    // zoomReset () {
    //   var svg = d3.select('#baseSVG')
    //   var graph = d3.select('#baseGraph')

    //   graph.transition()
    //     .duration(400)
    //     .attr('transform', 'translate(0 0) scale(1)')
    //     .on('end', () => {
    //       svg.call(
    //         d3.zoom().transform,
    //         d3.zoomIdentity
    //           .translate(0, 0)
    //           .scale(1)
    //       )
    //     })
    // }
  },
  components: {
    BaseModal,
    NetworkInfo
  }
}
</script>

<style scoped lang='scss'>
.zoom {
  --border-width: 2px;

  background: #fff;
  border: var(--border-width) solid gray;
  border-radius: 2px;
  cursor: pointer;

  display: grid;
  grid-template-columns: 24px;
  grid-template-rows: 24px var(--border-width) 24px;

  justify-items: center;
  align-items: center;

  .hr {
    background: gray;
  }
  i {
    color: var(--purple-highlight)
  }
}

.info {
  margin-top: 10px;

  --border-width: 2px;

  // background: #fff;
  // border: var(--border-width) solid gray;
  border: var(--border-width) solid rgba(0,0,0,0);
  border-radius: 2px;
  cursor: pointer;

  display: grid;
  grid-template-columns: 24px;
  grid-template-rows: 24px;

  justify-items: center;
  align-items: center;

  .hr {
    background: gray;
  }
  i {
    color: var(--purple-highlight)
  }
}

</style>
