<template>
  <div class='DetailsNetwork'>
    <div class='close'>
      <q-icon name='close' @click='close' />
    </div>

    <!-- LOADING ACCOUNT -->
    <div v-if='isLoading' class='profile loading'>
      <div class='avatar'>
        <q-spinner size="80px" color="faded-gray" />
      </div>
      <div class='name' />
      <div class='id'>@{{accountId}}</div>
      <div class='description' />
    </div>

    <div v-else class='profile'>
      <div class='avatar'>
        <Avatar :id='accountDetails.id' size='80px'/>
      </div>
      <div class='name'>{{accountDetails.name || accountId}}</div>
      <div class='id'>@{{accountId}}</div>

      <div class='description'>
        {{accountDetails.description}}
      </div>
    </div>

    <div class='activity' v-if='!isLoading'>
      <div class='wrapper'>

        <div class='tabs'>
          <div :class='isOutbound ? "outbound active" : "outbound"'
            @click='goTo("outbound")'>
            outbound activity
          </div>
          <div :class='isOutbound ? "inbound" : "inbound active"'
            @click='goTo("inbound")'>
            inbound activity
          </div>
        </div>

        <!-- mentions -->
        <q-card class='mentions-card'>
          <!-- TODO i18n interpolation -->
          <q-card-section align='left' class='heading'>
            <q-icon name='alternate_email' />
            {{
              isOutbound
                ? `Accounts @${accountId} mentioned:`
                : `Accounts who mentioned @${accountId}:`
            }}
          </q-card-section>

          <!--<q-seperator />-->
          <hr />

          <q-card-section class='edges'>
            <router-link :to='{ name: "network-account", params: { accountId: edge.target} }'
              v-for='edge in mentions.slice(0, limit)' :key='edge.target'
              class='edge'>
              <div>
                <Avatar :id='edge.target' />
              </div>

              <div>@{{edge.target}}</div>

              <div>{{edge.weight}}</div>
              <!-- TODO human numbers e.g. 1.2K-->
            </router-link>
          </q-card-section>

          <q-card-actions align='right'>
            <router-link :to='seeAllLink("mentions")' class='see-all-link' >
              see all ({{ mentions.length }})
            </router-link>
          </q-card-actions>
        </q-card>

        <!-- replies -->
        <q-card class='replies-card'>
          <!-- TODO i18n interpolation -->
          <q-card-section align='left' class='heading'>
            <q-icon name='insert_comment' />
            {{
              isOutbound
              ? `Accounts @${this.accountId} replied to:`
              : `Accounts who replied to @${accountId}:`
            }}
          </q-card-section>

          <!--<q-seperator />-->
          <hr />

          <q-card-section class='edges'>
            <router-link :to='{ name: "network-account", params: { accountId: edge.target} }'
              v-for='edge in replies.slice(0, limit)' :key='edge.target'
              class='edge'>
                <div>
                  <Avatar :id='edge.target' />
                </div>

                <div>@{{edge.target}}</div>

                <div>{{edge.weight}}</div>
                <!-- TODO human numbers e.g. 1.2K-->
            </router-link>
          </q-card-section>

          <q-card-actions align='right'>
            <router-link :to='seeAllLink("replies")' class='see-all-link' >
              see all ({{ replies.length }})
            </router-link>
          </q-card-actions>
        </q-card>

      </div>
    </div>
  </div>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
import Avatar from '@/components/Avatar'
const { NETWORK, NETWORK_ACCOUNT, NETWORK_ACCOUNT_INTERACTION } = require('@/constants/misc')

const { mapGetters, mapActions: mapDetailsActions } = createNamespacedHelpers('networkDetails')
const { mapActions: mapGraphActions } = createNamespacedHelpers('networkGraph')

const OUTBOUND = 'outbound'
const INBOUND = 'inbound'
const LIMIT = 5

export default {
  data () {
    return {
      limit: LIMIT
    }
  },
  computed: {
    ...mapGetters(['accountDetails']),
    isLoading () { return !this.accountDetails },
    accountId () { return this.$route.params.accountId },
    direction () { return this.$route.query.direction || OUTBOUND },
    isOutbound () { return this.direction !== INBOUND },
    mentions () {
      return this.accountDetails[this.direction + 'Mentions']
        .map(edge => ({ ...edge, target: this.isOutbound ? edge.To : edge.From }))
    },
    replies () {
      return this.accountDetails[this.direction + 'Replies']
        .map(edge => ({ ...edge, target: this.isOutbound ? edge.To : edge.From }))
    }
  },
  methods: {
    ...mapGraphActions(['setSelectedNodeIds']),
    ...mapDetailsActions(['loadAccountDetails']),
    goTo (direction) {
      if (this.direction === direction) return

      this.$router.push({ name: NETWORK_ACCOUNT, query: { direction } })
    },
    seeAllLink (interaction) {
      return {
        name: NETWORK_ACCOUNT_INTERACTION,
        params: {
          accountId: this.accountId,
          interaction
        },
        query: {
          direction: this.direction
        }
      }
    },
    close () {
      this.$router.push({
        name: NETWORK,
        query: {
          selected: this.accountId
        }
      })
    }
  },
  watch: {
    $route: {
      handler () {
        this.loadAccountDetails({ accountId: this.accountId })
        this.setSelectedNodeIds([this.accountId])
      },
      immediate: true
    }
  },
  components: {
    Avatar
  }
}
</script>

<style scoped lang="scss">
.DetailsNetwork {
  --pad: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  overflow-y: auto;

  .close {
    position: absolute;
    top: 10px;
    left: 10px;

    cursor: pointer;
  }
}

.profile {
  padding: var(--pad) var(--pad) 0;

  display: grid;
  grid-template-rows: 90px 28px 30px 1fr;
  justify-items: center;

  .avatar {
  }
  .name {
    font-size: 18px;
    font-weight: bold;
  }
  .id {
    color: var(--very-light-gray);
  }
  .description {
  }
}

.activity {
  color: var(--a-bit-gray-text);

  .tabs {
    padding-top: 20px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 24px;

    --dim: #717b91;

    > div {
      color: var(--dim);
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 1px;
      font-size: 12px;

      cursor: pointer;
      border-bottom: 1px solid var(--dim);

      &.active {
        color: #fff;
        &.outbound { border-bottom: 4px solid #6630ec; }
        &.inbound { border-bottom: 4px solid #fb5607; }
      }
    }
  }

  .mentions-card, .replies-card {
    margin: 15px;

    hr {
      margin: 0;
      border: none;
      border-bottom: 1px solid #999;
    }

    .heading {
      font-weight: bold;

      i { color: #999; }
    }

    .edges {
      padding: 0;

      .edge {
        color: black;
        text-decoration: none;
        padding: 0 var(--pad);

        display: grid;
        grid-template-columns: 24px 1fr 20px;
        grid-template-rows: 40px;
        grid-gap: 6px;
        justify-items: start;
        align-items: center;

        &:nth-child(2n) {
          background: #f6f6f8;
        }
      }
    }

    .see-all-link {
      color: var(--purple-highlight);
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: none;

      margin: 0 var(--pad);
    }
  }
}

</style>
