<template>
  <div class='DetailsNetworkInteraction'>
    <div class='header'>
      <div class='close'>
        <q-icon name='keyboard_backspace' @click='close' />
      </div>
      <div class='description'>
        {{ header }}
      </div>

      <q-input borderless v-model="searchTerm" placeholder="Find an account..." :dense='true' class='search-field'>
        <template v-slot:prepend>
          <q-icon name="search" />
        </template>
        <template v-slot:append>
          <q-icon v-if="searchTerm" name="close" @click="searchTerm = null" class="cursor-pointer" />
        </template>
        <!-- <template v-slot:hint> Find by handle </template> -->
      </q-input>
    </div>

    <div class='activity' v-if='!isLoading'>
      <!-- mentions -->
      <q-card v-for='edge in interactions' :key='edge.target + edge.weight' class='interaction-card'>

        <q-card-section class='header'>
          <router-link :to='linkTo(edge.target)'>
            <div>
              <Avatar :id='edge.target' size='40' />
            </div>

            <div class='name'>@{{edge.target}}</div>

            <div>{{edge.weight}}</div>
            <!-- TODO human numbers e.g. 1.2K-->
          </router-link>
        </q-card-section>

        <!-- TODO description
        <q-card-section class='description'>
        </q-card-section>
        -->
      </q-card>
    </div>
  </div>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
import Avatar from '@/components/Avatar'
const { NETWORK_ACCOUNT } = require('@/constants/misc')

const { mapGetters, mapActions: mapDetailsActions } = createNamespacedHelpers('networkDetails')
const { mapActions: mapGraphActions } = createNamespacedHelpers('networkGraph')

const OUTBOUND = 'outbound'
const INBOUND = 'inbound'

const capitalize = t => t[0].toUpperCase() + t.slice(1)

export default {
  data () {
    return {
      searchTerm: null
    }
  },
  computed: {
    ...mapGetters(['accountDetails']),
    isLoading () { return !this.accountDetails },
    accountId () { return this.$route.params.accountId },
    type () { return this.$route.params.interaction },
    direction () { return this.$route.query.direction || OUTBOUND },
    isOutbound () { return this.direction !== INBOUND },
    rawInteractions () {
      if (this.isLoading) return []

      const seen = new Set()
      return this.accountDetails[this.direction + capitalize(this.type)]
        // TODO make this less brittle!
        .map(edge => ({ ...edge, target: this.isOutbound ? edge.To : edge.From }))
        .filter(edge => {
          if (seen.has(edge.target)) return false
          seen.add(edge.target)
          return true
        })
    },
    interactions () {
      if (!this.searchTerm) return this.rawInteractions

      const regex = new RegExp(this.searchTerm, 'i')
      return this.rawInteractions.filter(result => regex.test(result.target))
    },
    header () {
      if (this.type === 'mentions') {
        return this.isOutbound
          ? `Accounts @${this.accountId} mentioned (${this.rawInteractions.length})`
          : `Accounts that mentioned @${this.accountId} (${this.rawInteractions.length})`
      }
      if (this.type === 'replies') {
        return this.isOutbound
          ? `Accounts @${this.accountId} replied to (${this.rawInteractions.length})`
          : `Accounts that replied to @${this.accountId} (${this.rawInteractions.length})`
      }
      return ''
    }
  },
  methods: {
    ...mapGraphActions(['setSelectedNodeIds']),
    ...mapDetailsActions(['loadAccountDetails']),
    goTo (direction) {
      if (this.direction === direction) return

      this.$router.push({ name: NETWORK_ACCOUNT, query: { direction } })
    },
    linkTo (accountId) {
      return {
        name: NETWORK_ACCOUNT,
        params: { accountId },
        query: { direction: this.direction }
      }
    },
    close () {
      this.$router.push(this.linkTo(this.accountId))
    }
  },
  watch: {
    $route: {
      handler () {
        this.loadAccountDetails({ accountId: this.accountId })
        this.setSelectedNodeIds([this.accountId])
      },
      immediate: true
    }
  },
  components: {
    Avatar
  }
}
</script>

<style scoped lang="scss">
.DetailsNetworkInteraction {
  --pad: 15px;
  --header-height: 100px;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  > .header {
    padding: 0 var(--pad);
    height: var(--header-height);

    display: grid;
    grid-template-columns: 40px 1fr;
    grid-template-rows: auto auto;
    align-items: center;
    justify-items: start;

    .close {
      cursor: pointer;
    }

    .description {
      font-weight: bold;
    }

    .search-field {
      grid-column: 1/3;
      width: 100%;

      padding: 0 15px;
      // TEMP while figure out how to style search with quasar
      background: #fff;
    }
  }
}

.activity {
  position: absolute;
  top: var(--header-height);
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;

  color: var(--a-bit-gray-text);

  padding: 0 var(--pad) var(--pad) var(--pad);
  margin-top: var(--pad);

  display: grid;
  grid-gap: var(--pad);
  align-content: start;

  .interaction-card, {
    .header > a {
      text-decoration: none;
      color: black;

      display: grid;
      grid-template-columns: auto 1fr auto;
      grid-gap: 10px;
      justify-items: start;
      align-items: center;
    }
    .description {
    }
  }
}

</style>
