<template>
  <div>
    <form @submit.prevent="search('activity')">
      <InputSearchTerm />

      <InputDates />

      <InputWebsites />

      <InputAggRedditBy />

      <FatButton>
        {{ $t("setting.button.activity") }}
      </FatButton>
    </form>
  </div>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
import InputSearchTerm from '@/components/input/InputSearchTerm'
import InputDates from '@/components/input/InputDates'
import InputWebsites from '@/components/input/InputWebsites'
import InputAggRedditBy from '@/components/input/InputAggRedditBy'
import FatButton from '@/components/input/FatButton'
const { mapMutations } = createNamespacedHelpers('searchSettings')

export default {
  components: {
    InputSearchTerm,
    InputDates,
    InputWebsites,
    InputAggRedditBy,
    FatButton
  },
  methods: {
    ...mapMutations(['search'])
  }
}
</script>

<style scoped lang="scss">
form > * {
  margin-top: var(--spacing-5);
}
</style>
