<template>
  <div>
    <form @submit.prevent="search('links')">
      <InputSearchTerm />

      <InputDates />

      <InputWebsites />

      <InputNumberOf :label="$t('setting.numberUrls')" />

      <InputLimit />

      <FatButton>
        {{ $t("setting.button.urls") }}
      </FatButton>
    </form>
  </div>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
import InputSearchTerm from '@/components/input/InputSearchTerm'
import InputDates from '@/components/input/InputDates'
import InputWebsites from '@/components/input/InputWebsites'
import InputNumberOf from '@/components/input/InputNumberOf'
import InputLimit from '@/components/input/InputLimit'
import FatButton from '@/components/input/FatButton'
const { mapMutations } = createNamespacedHelpers('searchSettings')

export default {
  components: {
    InputSearchTerm,
    InputDates,
    InputWebsites,
    InputNumberOf,
    InputLimit,
    FatButton
  },
  methods: {
    ...mapMutations(['search'])
  }
}
</script>

<style scoped lang="scss">
form > * {
  margin-top: var(--spacing-5);
}
</style>
