/* start css variables */
:root {
  --main-bg: #f6f6f8;
  --white-bg: #ffffff;
  --dark-bg: #0d1448;

  --primary-font: Sarabun, Avenir, Helvetica, Arial, sans-serif;

  --max-content-width: 85rem;

  --bright-text: #ffffff;
  --a-bit-gray-text: #2a2d43;
  --dark-text: #000000;

  --purple-highlight: #6610f2;
  --faded-gray: #808a9f;
  --very-light-gray: #eeeff0;

  --spacing-0: 0.25rem;
  --spacing-1: 0.5rem;
  --spacing-2: 0.75rem;
  --spacing-3: 1rem;
  --spacing-4: 1.5rem;
  --spacing-5: 2rem;

  --border-radius-1: 2px;
  --border-radius-3: 8px;

  --fs-1: 0.8571rem; // 12px
  --fs-2: 1rem; // 14px
  --fs-3: 1.1428rem; // 16px
  --fs-4: 1.2857rem; // 18px
  --fs-5: 1.7142rem; // 24px
}
/* end css variables */

/* start quasar colors */
/* https://quasar.dev/style/color-palette#Adding-Your-Own-Colors */
/* we can maybe remove the !importants if we move this to another file */
.text-purple-highlight {
  color: var(--purple-highlight) !important;
}

.bg-purple-highlight {
  background: var(--purple-highlight) !important;
}

.text-faded-gray {
  color: var(--faded-gray) !important;
}

.bg-faded-gray {
  background: var(--faded-gray) !important;
}
/* end quasar colors */

/* start style reset */
html {
  /* 1rem */
  font-size: 14px;
}

button {
  padding: 0;
}
/* end style reset */

/* start global styles */
.input-card {
  width: 100%;
  border: solid 2px var(--faded-gray);
  border-radius: var(--border-radius-1);
  display: flex;
  align-items: center;
  background: var(--white-bg);
}
/* end global styles */
