<template>
  <div id="app">
    <q-layout>
      <q-header>
        <TheTopBar @toggleToolBar="showSettingsBar = !showSettingsBar" />
      </q-header>

      <template v-if="hasSettingsBar">
        <q-drawer v-if="large" v-model="showSettingsBar"
          show-if-above
          :width="400"
          :breakpoint="0"
          elevated
        >
          <TheSettingsBar />
        </q-drawer>
        <BaseModal v-else v-model="showSettingsBar">
          <TheSettingsBar />
        </BaseModal>
      </template>

      <q-page-container>
        <ThePage />
      </q-page-container>

      <template v-if="hasDetailsBar">
        <q-drawer v-if="large" v-model="showDetailsBar"
          side='right'
          :overlay='true'
          :persistent='true'
          show-if-above
          :width="400"
          :breakpoint="0"
          elevated
        >
          <!--
            persistent is needed to stop auto-closing between route changes
            overlay stops the graph changing shape and forcing redraw
          -->
          <TheDetailsBar />
        </q-drawer>
        <BaseModal v-else v-model="showDetailsBar" :persistent='true' :showCloseBtn='false'>
          <TheDetailsBar />
        </BaseModal>
      </template>

    </q-layout>
  </div>
</template>

<script>
import TheTopBar from '@/components/TheTopBar'
import TheSettingsBar from '@/components/TheSettingsBar'
import TheDetailsBar from '@/components/TheDetailsBar'
import BaseModal from '@/components/BaseModal'
import ThePage from '@/components/ThePage'
import { createNamespacedHelpers } from 'vuex'

const { NETWORK_ACCOUNT, NETWORK_ACCOUNT_INTERACTION } = require('@/constants/misc')
const { TIMELINE, HASHTAGS, LINKS, ACTIVITY } = require('@/constants/tools')

const { mapState: mapSettingsState } = createNamespacedHelpers('searchSettings')
// const { mapGetters: mapDetailsGetters } = createNamespacedHelpers('networkDetails')

export default {
  components: {
    TheTopBar,
    TheSettingsBar,
    ThePage,
    TheDetailsBar,
    BaseModal
  },
  data () {
    return {
      showSettingsBar: true,
      showDetailsBar: true,
      large: false
    }
  },
  computed: {
    ...mapSettingsState(['doSearch']),
    hasSettingsBar () {
      return [TIMELINE, HASHTAGS, LINKS, ACTIVITY].includes(this.$route.name)
    },
    hasDetailsBar () {
      return [NETWORK_ACCOUNT, NETWORK_ACCOUNT_INTERACTION].includes(this.$route.name)
    }
  },
  methods: {
    updateLarge () {
      this.large = window.matchMedia('(min-width: 1000px)').matches
    }
  },
  watch: {
    // when the user clicks Search, this variable is incremented, so we watch
    // it to find out when the user wants to search. a weird kind of event bus
    'doSearch.count': function () {
      if (!this.large) {
        this.showSettingsBar = false
      }
    },
  },
  created () {
    this.updateLarge()
    window.addEventListener('resize', this.updateLarge)
  }
}
</script>

<style lang="scss">
@import "global";
</style>

<style scoped lang="scss">
@import "~@openfonts/sarabun_all/index.css";

#app {
  font-family: var(--primary-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--dark-text);
}

.toolbar {
  background: var(--dark-bg);
}
</style>
